html {
    font-size: 14px;
}

body {
    background-color: whitesmoke;
    margin: 0;

}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: black;
    text-shadow: black;
    font-size: 36px;
}

#title h1 {
    margin-bottom: 0;
    margin-top: 8px;
}

#title h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 50px 200px;
    text-align: center;
    background-color: #eee;
}

#image {
    height: auto;
    max-width: 50em;
}

#img-caption {
    font-size: 18px;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tribute-info ul {
    display: flex;
    flex-direction: column;
    width: 50em;
    padding: 0;
 
}

#tribute-info li {
    list-style: none;
}

#tribute-info p {
    padding-left: 20px;
}

a {

}

a:visited {

}